@font-face{
    font-family: 'font';
    src: url('font.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'alagard';
    src: url('alagard.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.reseaux{
    display: flex;
    position: absolute;
    align-self: last baseline;
    margin-bottom: -3%;
}
.tc1, .tc2{
    display: flex;
    justify-content: center;
    align-content: center;
    width : 70px !important;
    margin: 5px;
}

h1{
    font-family: font, sans-serif;
}
h2{

}
h2,h3,p,a{
    font-family: 'alagard', sans-se, serif;
    font-size: 1.2em;
}

h1{
    font-size: 2.5em;
}

.soustitre>h2{
    font-size: 2em !important;
}

html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #161616;
}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
@media (max-width: 768px){
    .hibou {
        display: none;
    }
    .bulles{
        display: block;
    }
    .b1, .b4, .b5, .b8, .b2,.b3,.b6,.b7{
        margin-left: 0 !important;
        margin-bottom: 0 !important;
        margin-top: 40% !important;
    }
    .b2, .b4{
        margin-top: 0 !important;
    }

    .titreAccueil{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
}

.bulles {
    align-content: center;
    display: grid;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.bulle {
    transition: 0.3s ease-out all;
    align-items: center;
    clip-path: circle(40%);
    cursor: pointer;
    display: flex;
    height: 220px;
    justify-content: center;
    width: 220px;
}
.bulle .bulle-title {
    transition: 0.3s ease-out all;
    color: #fff;
    opacity: 1;
    text-align: center;
    text-decoration: none;
}
.bulle:hover {
    clip-path: circle(45%);
}
.bulle:hover .bulle-title {
    opacity: 0;
}

.b1 {
    background: url("https://raw.githubusercontent.com/Nolucci/NF_SitePortfolio/master/ressources/img/NFImgTete.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(60, 17, 82, 0.8);
    background-blend-mode: soft-light;
    margin-bottom : 50%;
}
.b1:hover {
    transition: 0.3s ease-out all;
    background-color: rgba(60, 17, 82, 0);
}

.b2 {
    background: url("https://raw.githubusercontent.com/Nolucci/NF_SitePortfolio/master/ressources/img/mortarboard.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(213, 22, 104, 0.8);
    background-blend-mode: soft-light;
    margin-top : 50%;
}
.b2:hover {
    transition: 0.3s ease-out all;
    background-color: rgba(213, 22, 104, 0);
}

.b3 {
    background: url("https://raw.githubusercontent.com/Nolucci/NF_SitePortfolio/master/ressources/img/portfolio.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 186, 179, 0.8);
    background-blend-mode: soft-light;
    margin-bottom : 50%;

}
.b3:hover {
    transition: 0.3s ease-out all;
    background-color: rgba(0, 186, 179, 0);
}

.b4 {
    background: url("https://raw.githubusercontent.com/Nolucci/NF_SitePortfolio/master/ressources/img/parcours.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(224, 88, 42, 0.8);
    background-blend-mode: soft-light;
    margin-top : 50%;
}
.b4:hover {
    transition: 0.3s ease-out all;
    background-color: rgba(224, 88, 42, 0);
}

.b5 {
    background: url("");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(60, 17, 82, 0.8);
    background-blend-mode: soft-light;
    margin-left: -50%;
}
.b5:hover {
    transition: 0.3s ease-out all;
    background-color: rgba(60, 17, 82, 0);
}

.b6 {
    background: url("");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(213, 22, 104, 0.8);
    background-blend-mode: soft-light;
}
.b6:hover {
    transition: 0.3s ease-out all;
    background-color: rgba(224, 88, 42, 0);
}

.b7 {
    background: url("");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 186, 179, 0.8);
    background-blend-mode: soft-light;
}
.b7:hover {
    transition: 0.3s ease-out all;
    background-color: rgba(224, 88, 42, 0);
}

.b8 {
    background: url("");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(224, 88, 42, 0.8);
    background-blend-mode: soft-light;
    margin-left: -50%;
}
.b8:hover {
    transition: 0.3s ease-out all;
    background-color: rgba(224, 88, 42, 0);
}

/* monCV */

#bulle1CV{
    margin-right: 10px;
    background-color: rgba(224, 42, 42, 0.8);
    align-self: center;
    margin-top: 0 !important;
    background-image: none;
}

#bulle2CV{
    margin-left: 10px;
    background-color: rgba(136, 224, 42, 0.8);
    align-self: center;
    margin-top: 0 !important;
}

#allCVContainer{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    justify-content: center;
}

.viewer {
    display: flex;
    justify-content: center;
    width: fit-content;
    height : fit-content;
}

.projetsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.telechargementContainer{
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    background-color: #f0f0f0;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: fit-content;
    margin-bottom: 7px;
    align-self: center;
}

@media screen and (max-width: 768px) {
    .telechargementContainer, .viewer {
        padding: 8px 16px; /* Ajustez les valeurs de padding pour les écrans plus petits */
    }
}

@media screen and (max-width: 480px) {
    .telechargementContainer, .viewer {
        padding: 6px 12px; /* Ajustez les valeurs de padding pour les écrans encore plus petits */
    }
}

/* moi */

.bioPPContainer{
    margin-top: -7%;
    text-decoration: none;
    color: rgb(238, 238, 238);
    font-weight: bold;
    background-color: #161616;
    padding: 10px 20px;
    border: 1px solid #161616;
    border-radius: 5px;
    height: fit-content;
    margin-bottom: 7px;
    align-self: center;
}

.titre{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titreAccueil{
    position: absolute;
    color: rgb(189, 167, 128);
    font-weight: bold;
    padding: 10px 20px;
    height: fit-content;
    justify-content: center;
    text-align: center;

}


.projetsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 32em ;
    justify-content: center;
}

.projetContainer{
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.imagesProjet{
    border-radius: 10px;
    margin: 10%;
    width: fit-content;
    height: fit-content;
}

.imageProjet{
    width:10em;
    border-radius: 15px;
}

.presentationProjet{
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}
